body {
  font-family: Verdana, Arial, Geneva, Helvetica, SunSans-Regular, sans-serif;
  color: black;
  background-color: white }

li {
  color: black;
  font-family: Verdana, Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; 
  font-size: 110% }

h1 {
  color: Maroon;
  font-family: Verdana, Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; }


h2 {
  color: Maroon;
  font-family: Verdana, Arial, Geneva, Helvetica, SunSans-Regular, sans-serif; 
  font-size: 110%}